<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
            <mat-icon>menu</mat-icon>
        </button>
        <img class="logo" src="/assets/graph_icon.png"
            alt="Server Stats Logo. A graph with a lot of nodes as a sphere.">
        <span>Matrix Server Stats</span>
        <span class="spacer"></span>
        <div fxShow="true" fxHide.lt-md="true">
            <!-- The following menu items will be hidden on both SM and XS screen sizes -->
            <a routerLink="/" mat-button>Home</a>
            <a routerLink="/spaces" mat-button>Space List</a>
            <a routerLink="/links" mat-button>Link Finder</a>
            <a routerLink="/3d" mat-button>3D Graph</a>
            <a routerLink="/faq" routerLinkActive="active" mat-button>FAQ</a>
            <a routerLink="/api" mat-button>API Reference</a>
            <a href="https://github.com/MTRNord/server_stats" mat-button>Github</a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container fxFlexFill class="container">
    <mat-sidenav #sidenav fxLayout="column">
        <div fxLayout="column">
            <a routerLink="/" mat-button>Home</a>
            <a routerLink="/spaces" mat-button>Space List</a>
            <a routerLink="/links" mat-button>Link Finder</a>
            <a routerLink="/3d" mat-button>3D Graph</a>
            <a routerLink="/faq" routerLinkActive="active" mat-button>FAQ</a>
            <a routerLink="/api" mat-button>API Reference</a>
            <a href="https://github.com/MTRNord/server_stats" mat-button>Github</a>
        </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
        <div class="inner-content">
            <h1>FAQ</h1>
            <h2>What is the MXID of the bot?</h2>
            <p>
                You can find the bot as <a title="@serverstats:nordgedanken.dev"
                    href="https://matrix.to/#/@serverstats:nordgedanken.dev">@serverstats:nordgedanken.dev</a> on Matrix
            </p>
            <h2>How can I remove the bot from my Room?</h2>
            <p>
                You can choose between 2 variants to remove it:
            </p>

            <ul>
                <li>You kick it -> This causes the bot to leave until the room is mentioned again somewhere.</li>
                <li>You ban it -> This results in the bot not joining again unless you unban it.</li>
            </ul>
            <h2>Is the bot hostile?</h2>
            <p>
                No. It doesnt spam messages, it doesnt't record any of your messages permanently, it doesn't record who
                mentioned a room and it doesn't record when a room was mentioned.
            </p>
            <h2>What data is collected and stored?</h2>
            <p>
                To this question 2 things are needed to be known:
            </p>
            <ol>
                <li>The Bot has an internal database of every room it found</li>
                <li>It has access like any regular user to the room data</li>
            </ol>
            <p>
                For the first half the bot records the room id, a hash of that room id and the childs of a room and the
                parents of that room based on the room id hash.<br />

                For the second half the same thing as with anything applies to the data. The bot can see members, topic,
                avatar, room name. It can't see messages of the past as those after scanning for aliases get cleared
                from
                synapse due to the space required.
            </p>
            <p>

                However only a subset of that data will ever be publicly made available. This includes:
            </p>
            <ul>
                <li>The Room Name</li>
                <li>The Room Topic</li>
                <li>The Room Avatar</li>
                <li>The Room Alias</li>
                <li>The Room ID</li>
                <li>The Member Count</li>
                <li>The relations of which room mentioned which room</li>
            </ul>
            <h2>How reliable is the data?</h2>
            <p>
                The data due to the way it gathers data is not 100% reliable. This is because rooms are missing where
                the bot got banned from, the bot didnt yet find or because of bugs that happened along the way.
            </p>
            <h3>Known Data Issues</h3>
            <h4>Ingoing and outgoing count is exactly the same for some rooms</h4>
            <p>
                This happened for around the first week due to a bug in the code where relations incorrectly got saved.
                This cannot be recovered due to the massive amount of requests necessary to rebuild that data. Also
                identifying the issue via code at this point would be way to difficult.
            </p>
            <h2>Where do I find an API?</h2>
            <h3>JSON API</h3>
            <p>
                Currently there exists an API to get the full data chunk at <a
                    href="https://serverstats.nordgedanken.dev/relations">https://serverstats.nordgedanken.dev/relations</a>
                which contains all the rooms and links. Please do NOT scrape this too often as it is expensive for the
                server currently. Instead use the API once and then listen via the websocket for updates when
                possible.
            </p>
            <h3>Updates Websocket API</h3>
            <p>
                You can find a websocket at wss://serverstats.nordgedanken.dev/ws which pushes any new room relation as
                soon as it got saved to the internal database. It is exactly the same as the json API except that it
                only has the singular forms as keys.
                Important is also that you need to check if you already have a room on the client side. The server
                doesnt check if the room was already published before.
            </p>
            <h2>Where do I find the source?</h2>
            <p>
                The Source code is available at <a
                    href="https://github.com/MTRNord/server_stats">https://github.com/MTRNord/server_stats</a>
            </p>
            <h2>Who is in charge and how can I contact them?</h2>
            <p>
                In charge of this Project is Marcel or more well known MTRNord. I can be reached via my Matrix ID <a
                    href="https://matrix.to/#/@mtrnord:nordgedanken.dev">@mtrnord:nordgedanken.dev</a>.
                For general project related things there is a room available at <a
                    href="https://matrix.to/#/#server_stats:nordgedanken.dev">#server_stats:nordgedanken.dev</a>.
            </p>

        </div>
    </mat-sidenav-content>
</mat-sidenav-container>