<nz-layout class="layout">
    <nz-header>
        <div class="logo"></div>
        <ul nz-menu nzTheme="dark" nzMode="horizontal">
            <li nz-menu-item>
                <a routerLink="/">Home</a>
            </li>
            <a nz-menu-item>
                <a routerLink="/spaces">Space List</a>
            </a>
            <li nz-menu-item>
                <a routerLink="/links">Link Finder</a>
            </li>
            <a nz-menu-item nzSelected>
                <a routerLink="/3d" routerLinkActive="active">3D Graph</a>
            </a>
            <li nz-menu-item>
                <a routerLink="/faq">FAQ</a>
            </li>
            <li nz-menu-item><a href="https://github.com/MTRNord/server_stats">Github</a></li>
        </ul>
    </nz-header>
    <nz-content class="in-graph">
        <div class="wrapper">
            <div id="graph" #graph></div>
            <div id="info">
                <p id="room_count">Rooms: {{data?.nodes?.length}}</p>
                <div class="break"></div>
                <p id="link_count">Links: {{data?.links?.length}}</p>
            </div>
            <div id="sidebar" #sidebar>
                <div id="close" #close>×</div>
                <div id="content">
                    <div id="top">
                        <p id="header">{{sidebar_header}}</p>
                        <img id="avatar" src="{{avatar}}" />
                    </div>
                    <hr id="divider" />
                    <p id="description" [innerHTML]="sidebar_description"></p>
                    <p id="link" #link>Join room:&nbsp;<a rel="noreferrer" id="alias_link" target='_blank'
                            href="{{alias_link_href}}">{{alias_link}}</a></p>
                </div>
            </div>
        </div>
    </nz-content>
</nz-layout>