<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
            <mat-icon>menu</mat-icon>
        </button>
        <img class="logo" src="/assets/graph_icon.png"
            alt="Server Stats Logo. A graph with a lot of nodes as a sphere.">
        <span>Matrix Server Stats</span>
        <span class="spacer"></span>
        <div fxShow="true" fxHide.lt-md="true">
            <!-- The following menu items will be hidden on both SM and XS screen sizes -->
            <a routerLink="/" mat-button>Home</a>
            <a routerLink="/spaces" mat-button>Space List</a>
            <a routerLink="/links" routerLinkActive="active" mat-button>Link Finder</a>
            <a routerLink="/3d" mat-button>3D Graph</a>
            <a routerLink="/faq" mat-button>FAQ</a>
            <a routerLink="/api" mat-button>API Reference</a>
            <a href="https://github.com/MTRNord/server_stats" mat-button>Github</a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container fxFlexFill class="container">
    <mat-sidenav #sidenav fxLayout="column">
        <div fxLayout="column">
            <a (click)="sidenav.toggle()" href="#" mat-button>Close</a>
            <a routerLink="/" mat-button>Home</a>
            <a routerLink="/spaces" mat-button>Space List</a>
            <a routerLink="/links" routerLinkActive="active" mat-button>Link Finder</a>
            <a routerLink="/3d" mat-button>3D Graph</a>
            <a routerLink="/faq" mat-button>FAQ</a>
            <a routerLink="/api" mat-button>API Reference</a>
            <a href="https://github.com/MTRNord/server_stats" mat-button>Github</a>
        </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
        <div class="inner-content">
            <h1>Link Finder</h1>
            <p>
                Start typing a room name to get links.
            </p>
            <h3>Room: {{this.room_name}}</h3>
            <div fxLayout="row">
                <mat-form-field class="search-type">
                    <mat-label>Search type selection</mat-label>
                    <mat-select [(ngModel)]="filterColumn">
                        <mat-option value="incoming">Incoming</mat-option>
                        <mat-option value="outgoing">Outgoing</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Filter the {{ filterColumn }} column</mat-label>
                    <input matInput type="text" placeholder="Type to filter the {{ filterColumn }} column..."
                        (keyup)="updateFilter($event)" #input>
                </mat-form-field>
            </div>
            <br /><br />
            <div class="table-container mat-elevation-z8">
                <div class="table-loading-shade" *ngIf="isLoadingResults">
                    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                </div>
                <div class="table-inner-container table-responsive">
                    <table mat-table [dataSource]="dataSource" matSort matSortActive="members" matSortDirection="desc">

                        <ng-container matColumnDef="name">
                            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Roomname
                            </mat-header-cell>
                            <mat-cell mat-cell *matCellDef="let element" data-label="Roomname">
                                <span>{{element.name}}</span>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="alias">
                            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Alias
                            </mat-header-cell>
                            <mat-cell mat-cell *matCellDef="let element" data-label="Alias">
                                <span [innerHTML]="element.alias"></span>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="room_id">
                            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Room ID
                            </mat-header-cell>
                            <mat-cell mat-cell *matCellDef="let element" data-label="Room ID">
                                <span>{{element.room_id}}</span>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="topic">
                            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Topic
                            </mat-header-cell>
                            <mat-cell mat-cell *matCellDef="let element" data-label="Topic">
                                <span [innerHTML]="element.topic"></span>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="members">
                            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Member
                                Count </mat-header-cell>
                            <mat-cell mat-cell *matCellDef="let element" data-label="Member Count">
                                <span>{{element.members}}</span>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="incoming_links">
                            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Incoming Links
                            </mat-header-cell>
                            <mat-cell mat-cell *matCellDef="let element" data-label="Incoming Links">
                                <span>{{element.incoming_links}}</span>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="outgoing_links">
                            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Outgoing Links
                            </mat-header-cell>
                            <mat-cell mat-cell *matCellDef="let element" data-label="Outgoing Links">
                                <span>{{element.outgoing_links}}</span>
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                        <!-- Row shown when there is no matching data. -->
                        <mat-header-row class="mat-row" *matNoDataRow></mat-header-row>
                        <mat-row class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</mat-row>
                    </table>
                    <mat-paginator [length]="resultsLength" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
                        showFirstLastButtons>
                    </mat-paginator>
                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>