<nz-layout class="layout">
    <nz-header>
        <div class="logo"></div>
        <ul nz-menu nzTheme="dark" nzMode="horizontal">
            <li nz-menu-item>
                <a routerLink="/">Home</a>
            </li>
            <li nz-menu-item nzSelected>
                <a routerLink="/links" routerLinkActive="active">Link Finder</a>
            </li>
            <li nz-menu-item>
                <a routerLink="/3d">3D Graph</a>
            </li>
            <li nz-menu-item>
                <a routerLink="/faq">FAQ</a>
            </li>
            <li nz-menu-item>Github</li>
        </ul>
    </nz-header>
    <nz-content>
        <nz-breadcrumb>
            <nz-breadcrumb-item>Home</nz-breadcrumb-item>
            <nz-breadcrumb-item>Link Finder</nz-breadcrumb-item>
        </nz-breadcrumb>
        <div class="inner-content">
            <h1 nz-typography>Link Finder</h1>
            <p nz-typography>
                Start typing a room name to get links.
            </p>
            <h3 nz-typography>Room: {{this.room_name}}</h3>
            <nz-input-group nzCompact>
                <nz-select [ngModel]="'outgoing'" (ngModelChange)="updateSelection($event)">
                    <nz-option [nzLabel]="'Outgoing'" [nzValue]="'outgoing'"></nz-option>
                    <nz-option [nzLabel]="'Incoming'" [nzValue]="'incoming'"></nz-option>
                </nz-select>
                <input type="text" nz-input placeholder="Type to filter the name column..."
                    (keyup)="updateFilter($event)" style="width:90%;" />
            </nz-input-group>
            <br /><br />
            <ngx-datatable #table class="material" [rows]="rows" [columns]="columns" [headerHeight]="40"
                [summaryRow]="false" [footerHeight]="40" [limit]="10" rowHeight="auto" [columnMode]="ColumnMode.force">
            </ngx-datatable>
        </div>
    </nz-content>
    <nz-footer>TODO</nz-footer>
</nz-layout>